body {
  margin: 0;
}

.home{
font-weight: bold;
}
.profileButton{
hoverColor:blue;

}
.ProfileSection{

    overflow: hidden;
    position: relative;
    max-height: 240px;
    max-width: 270px;
  /*  background-color: yellow; */
}


.UpperSection{
  position:relative;
  padding-bottom: 33.3333%;
  background-color: #00BCD4;
}
.LowerSection{
font-size: 12px;

float:right;
margin-left: 40px;
margin-right: -10px;
margin-top: -25px;
}
.LowerSectionText2{
  margin-left: 30px;
  margin-bottom:-3em;
  margin-right: -10px;
  font-size: 12px;
}
.ProfileSectionAvatar{
  position: realative;
  z-index: 10;
  overflow: hidden;
  margin-top: -3em;
}


.ProfileImage{
   z-index: 10;

}
.card1{
   padding-left:  80;
  align-items: center;

}

.TopNews{
  display: inline-block;
 margin-top:-20px;
 top:-10;
 left:50%;
 margin-Bottom: 80%;
 /*  background-color: green; */


}
.WhoToFollowPaper{
  position: absolute;
  margin-top: -18%;
  margin-left: 16px;
  background-color: red;

}
.WhoToFollowHeader{

  display: inline-block;
  padding-bottom:0px;
}
.FollowButton{
  margin-left: 10px;
  vertical-align: bottom;
  line-height: 0px;
  margin-top:0px;

}
.FollowPeople{
height:70px;

}
.AvatarButton{
line-height:0%;
margin-left:0px;
}
.PeopleImage{
  float:left;
  margin-left: 15px;
}
.button2 {
    background-color:white;
    border-bottom: 2px solid #00BCD4;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #00BCD4;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

}
.TopButton{
margin-left: 4em;
}
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button:active {
  background-color: #3e8e41;
  outline:none;
  transform: translateY(4px);
}
.RelatedSearchs{
  position: relative;
float:left;
display: inline-block;
padding-top: 0px 0px 0px 0px;
margin: -30px 0px 0px 0px;
/* background-color:red;  */
}
.SearchFilter{
  position: absolute;
  display:inline-block;
  left:14px;
  top:40%;
/*   background-color: yellow; */

}
.newSearchResults{
  display: inline-block;
  top:-18px;
   width:50;
  float: right;
  margin-left:20px;
  margin-right:125px;
  overflow: hidden;
  text-align: center;
  color:#B2EBF2;
/*   background-color: green;  */
}

.TrendsNo{
  position: relative;
   display: inline-block;
   margin: 0; /* top right bottom left */
    padding: 0;
    clear:both;
  margin-right: 0.3571rem;
  line-height:0px;
  font-size: 10px;
  float:left;
}
.TrendsIn{
  font-size: 15px;
   line-height:0%;
  color:#039BE5;
  float:left;
  margin-left:10px;
}

.fa-2x {
  font-size: 2em !important;}
#PostText{
  float:right;
}
.people21{
  position: absolute;
  float: right;
 width:10%;
 height:20%;
 margin-top:3.5em;
 margin-right:10em;
 margin-left: 48em;
/*  background-color: green;  */

}
.FirstPaper{
  position: relative;
    background-color: cyan500;
   width:300px;

}
.SecondPaper{
  position: relative;
 top:30px;
 padding-top: 0px;
/*  background-color: blue; */
 width:300px;
 margin-top: -5em;
}
.Text{
  font-size: 13px;
   margin-top: 20px;
   padding-top: 50px;
    width:390px;
   word-wrap: break-word;
   white-space: pre;
}
.Aahdhar{
  margin-top: 20px;
  float:left;
  margin-left: 10px;
}
.AadharProfileText{
  margin-top:80px;
  margin-left: 10px;
}
.AadharButton{
  position:relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: 9em;

}
.AadharImage{
height:110px;
width:280px;

}
.ProfileAvatar{

background-color: red;
margin-left: 40px;
margin-top:"50%";
position: relative;



}

.ChipPara{
  word-spacing: 10px;
  line-height: 0px;
}
.chip{
  font-size: 12px;
   }
  .PageChipOuterDiv{
  /*   background-color:blue; */
    height: 170px;
    width: 300px;
    margin:20px;
    margin-top:80px;
    float:right;
  }
  .PsButton{
    float:right;
  }


/* page 2  stylesheets  begins here */
.Aadhar{
  background-color: #039BE5;
  height:70px;
}
.TextAadhar{
position:relative;
  color: white;
margin-top: 0em;
padding-top: 0.5em;
  margin-left:8em;
}
